Metrics
Expand view
First Contentful Paint
3.7 s
Largest Contentful Paint
4.9 s
Total Blocking Time
0 ms
Cumulative Layout Shift
0
Speed Index
5.4 s
Captured at Feb 21, 2026, 2:39 PM GMT+5:30
Emulated Moto G Power with Lighthouse 13.0.1
Single page session
Initial page load
Slow 4G throttling
Using HeadlessChromium 144.0.7559.132 with lr
View Treemap
Screenshot
Screenshot
Screenshot
Screenshot
Screenshot
Screenshot
Screenshot
Screenshot
Show audits relevant to:

All

FCP

LCP

TBT

CLS
Insights
Render blocking requests Est savings of 150 ms
Requests are blocking the page's initial render, which may delay LCP. Deferring or inlining can move these network requests out of the critical path.LCPFCPUnscored
URL
Transfer Size
Duration
vercel.app 1st party
8.5 KiB 150 ms
/assets/index-wWr1XZfM.css(talib-portfolio-kappa.vercel.app)
8.5 KiB
150 ms
LCP breakdown
Each subpart has specific improvement strategies. Ideally, most of the LCP time should be spent on loading the resources, not within delays.LCPUnscored
Subpart
Duration
Time to first byte
0 ms
Element render delay
3,600 ms
Revolutionizing Client Solutions with the Best Tools

<h2 class="tech-stack-title">
Network dependency tree
Avoid chaining critical requests by reducing the length of chains, reducing the download size of resources, or deferring the download of unnecessary resources to improve page load.LCPUnscored
Maximum critical path latency: 1,469 ms
Initial Navigation
https://talib-portfolio-kappa.vercel.app - 277 ms, 1.87 KiB
/assets/index-DjH70XjM.js(talib-portfolio-kappa.vercel.app) - 1,025 ms, 301.73 KiB
/assets/Showreel-CwygAD0z.js(talib-portfolio-kappa.vercel.app) - 1,367 ms, 4.71 KiB
/assets/proxy-p0Hec_UO.js(talib-portfolio-kappa.vercel.app) - 1,397 ms, 42.94 KiB
/assets/play-BMWGdLKG.js(talib-portfolio-kappa.vercel.app) - 1,368 ms, 0.83 KiB
/assets/zap-CIhrfFmp.js(talib-portfolio-kappa.vercel.app) - 1,360 ms, 0.95 KiB
/assets/Showreel-NnvjWIFj.css(talib-portfolio-kappa.vercel.app) - 1,361 ms, 3.33 KiB
/assets/ServicesB….js(talib-portfolio-kappa.vercel.app) - 1,366 ms, 4.58 KiB
/assets/smartphon….js(talib-portfolio-kappa.vercel.app) - 1,363 ms, 0.90 KiB
/assets/ServicesB….css(talib-portfolio-kappa.vercel.app) - 1,358 ms, 4.93 KiB
/assets/StepCompo….js(talib-portfolio-kappa.vercel.app) - 1,362 ms, 2.53 KiB
/assets/StepCompoenntTwo-BcuYVKwL.css(talib-portfolio-kappa.vercel.app) - 1,361 ms, 1.84 KiB
/assets/FrammerMa….js(talib-portfolio-kappa.vercel.app) - 1,359 ms, 1.22 KiB
/assets/FrammerMa….css(talib-portfolio-kappa.vercel.app) - 1,363 ms, 1.52 KiB
/assets/ReviewCar….js(talib-portfolio-kappa.vercel.app) - 1,372 ms, 3.42 KiB
/assets/ReviewCarousel-DSDyq_dY.css(talib-portfolio-kappa.vercel.app) - 1,365 ms, 1.89 KiB
/assets/ExtendedC….js(talib-portfolio-kappa.vercel.app) - 1,391 ms, 3.36 KiB
/assets/sparkles-B1Jn6nTx.js(talib-portfolio-kappa.vercel.app) - 1,362 ms, 1.20 KiB
/assets/AboutSection-kfRdowfD.js(talib-portfolio-kappa.vercel.app) - 1,469 ms, 2.83 KiB
/assets/AboutSect….css(talib-portfolio-kappa.vercel.app) - 1,363 ms, 2.81 KiB
/assets/OverviewS….js(talib-portfolio-kappa.vercel.app) - 1,391 ms, 3.81 KiB
/assets/OverviewSection-DejhdGvy.css(talib-portfolio-kappa.vercel.app) - 1,366 ms, 2.60 KiB
/assets/CallToAct….js(talib-portfolio-kappa.vercel.app) - 1,390 ms, 1.57 KiB
/assets/CallToAct….css(talib-portfolio-kappa.vercel.app) - 1,376 ms, 1.99 KiB
/assets/Footer-BYtZo9At.js(talib-portfolio-kappa.vercel.app) - 1,366 ms, 2.98 KiB
/assets/Footer-DnnKb8iU.css(talib-portfolio-kappa.vercel.app) - 1,361 ms, 2.32 KiB
/assets/index-wWr1XZfM.css(talib-portfolio-kappa.vercel.app) - 547 ms, 8.52 KiB
Preconnected origins
preconnect hints help the browser establish a connection earlier in the page load, saving time when the first request for that origin is made. The following are the origins that the page preconnected to.
Origin
Source
https://player.vimeo.com/
preconnect
<link rel="preconnect" aria-label="preconnect" href="https://player.vimeo.com">
Unused preconnect. Only use preconnect for origins that the page is likely to request.
https://f.vimeocdn.com/
preconnect
<link rel="preconnect" aria-label="preconnect" href="https://f.vimeocdn.com">
Unused preconnect. Only use preconnect for origins that the page is likely to request.
https://fonts.googleapis.com/
preconnect
<link rel="preconnect" aria-label="preconnect" href="https://fonts.googleapis.com">
https://fonts.gstatic.com/
preconnect
<link rel="preconnect" aria-label="preconnect" href="https://fonts.gstatic.com" crossorigin="">
Preconnect candidates
Add preconnect hints to your most important origins, but try to use no more than 4.
Origin
Est LCP savings
https://i.pravatar.cc
Diagnostics
Reduce unused JavaScript Est savings of 216 KiB
Reduce unused JavaScript and defer loading scripts until they are required to decrease bytes consumed by network activity. Learn how to reduce unused JavaScript.LCPFCPUnscored
URL
Transfer Size
Est Savings
vercel.app 1st party
301.1 KiB	216.4 KiB
/assets/index-DjH70XjM.js(talib-portfolio-kappa.vercel.app)
